*{
    font-family: sans-serif;
    color: white;
    background: rgb(62, 62, 62);
}

h1{
    text-align: center;
}

a{
    padding: 3%;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    background: gray;
    text-decoration-style: none;
    width: 20%;
}

a:hover{
    background: black;
    transition: .3s;
}